<h1>MY TODO's</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
<table class="table">
<caption>MY Todo's</caption>
<thead>
<tr>
<th>id</th>
<th>Description</th>
<th>is Completed</th>
<th>Target Date</th>
<th>Update</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
  <!--  for (Todo todo: todos) -->
  <tr *ngFor="let todo of todos">
  <td>{{todo.id}}</td>
  <td>{{todo.description}}</td>
  <td>{{todo.done}}</td>
  <td>{{todo.targetDate | date | lowercase}}</td>
  <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
  <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
</tr>
</tbody>
<div class="container">
  <button (click)="addTodo()" class="btn btn-success">ADD</button>
</div>
</table>
</div>